@charset "utf-8";

/* headerここから */
.headder {
  display: flex;
  height: 70px;
  line-height: 70px;
  justify-content: space-between;
  margin-right: 80px;
}

.header_logo_img {
  width: 150px;
  margin-left: 40px;
}
site-menu{
  margin-right: 40px;
}

.header_list {
  display: flex;
  list-style: none;
  justify-content: space-between;
  
} 
.header_list li{
  margin-right: 40px;
}
.header_list_link{
  height: 70px;
  display: inline-block;
}
/* headerここまで */
/* firstview始まり */
.firstview{
  display: flex;
  position: relative;
  margin-right: 80px;
}
.firstview_img{
  width: 40%;
  height:30%;
  margin: 0 0 0 auto;
  display: block;
  width: 50%;
}
.firstview_text{
  position: absolute;
  top: 13%;
  left: 33%;
  font-family: 'Macondo', cursive;
  font-size: 60px;
  line-height: 90px;
  z-index: 2;
  color: #c71585;
}
h1 span{
  color:#40e0d0 ;
}
h5{
  font-size: 20px;
  line-height: 15px;
  margin-top: 40px;
}
h5 span{
  color: #40e0d0;
}
p{
  color: #A9A9A9;
  /* font-family: 'Noto Serif JP', serif; */
  font-size: 15px;
  font-weight: bold;
  line-height: 23px;
  margin-top: 15px;
}
/* news始まり */
.news{
  width: 80%; 
  margin: 0 auto;
  padding-left: 30%;
}
.news_list{
  display: block;
  width: 50%;
  
}
.common_sub_title_news{
  text-align: left;
  margin-bottom: 10px;
  font-family: 'Macondo', cursive;
  font-size: 8px;
  color: #c71585;
}
.comoon_ttl_news{
  text-align: left;
  color:#808080 ;
  margin-bottom: 30px;
  font-size: 25px;
}
li{
  line-height: 20px;
  padding-top: 30px;
}
li span{
  display: inline;
  color: #A9A9A9;
  padding-left: 40px; 
}
.news_list_cat{
  background-color: #c71585;
  border-radius: 20px;
  color: antiquewhite;
  font-size: 15px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}
.news_list_border{
  display:block;
  text-align: center;
  border-top: solid 1px silver;
  border-bottom: solid 1px silver;
  padding: 30px;
}
/* news終わり */
/* about始まり */
.about{
  width: 70%;
  margin: 0 auto;
  margin-top: 100px;
  background-color: #F5F5F5;
}
.about_img{
  display: flex;
  width: 360px;
  height: 250px;
  margin-bottom: 50px;
  margin-right: 210px;
}
.common_sub_title_about{
  text-align: center;
  margin-bottom: 10px;
  font-family: 'Macondo', cursive;
  font-size: 8px;
  color: #c71585;
}
.common_ttl_about{
  text-align: center;
  color: #808080;
  margin-bottom: 30px;
  font-size: 25px;
}
.about_content{
  display: flex;
  justify-content: space-between;
}
.about_card_text{
  display: block;
  padding-bottom: 60px;
  width: 35%;
  line-height: 35px;
  color: #808080;
  margin-left: 120px;
}
p{
  font-size: 15px;
}
/* about終わり */
/* service始まり */
.service{
  width: 70%;
  margin: 0 auto;
}
.common_sub_title_service{
  text-align: left;
  margin-bottom: 10px;
  font-family: 'Macondo', cursive;
  font-size: 8px;
  color: #c71585;
}
.common_ttl_service{
  text-align: left;
  color: #808080;
  margin-bottom: 30px;
  font-size: 25px;
}
.service_block{
  display:flex;
}
.service_img{
  margin-top: 30px;
  width: 250px;
  height: 150px;
  margin-bottom: 50px;
}
  .service_block_left{
  padding: 0 auto;
  text-align: center;
  width: 50%;
  background-color: #c71585;
}
.service_block_right{
  text-align: center;
  width: 50%;
}
.block_top{
  width: 100%;
}
.block_bottom{
  width: 100%;
}
.service_text{
color: #ffffff;
text-align: start;
line-height: 40px;
padding-left: 50px;
padding-right: 50px;
}
p span{
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
}
.block_top{
  display: flex;
  background-color: #DB7093;
}
.block_bottom{
  display: flex;
  background-color: #FFE4E1;
}
.service_img_block_right {
  margin-top: 30px;
  width: 250px;
  height: 150px;
  margin-bottom: 50px;
}
.service_text_block_right{
  color: #ffffff;
  text-align: start;
  line-height: 40px;
  padding-left: 50px;
  padding-right: 50px;
}
/* serviceここまで */
/* blogここから */
.blog{
  height: 100%;
  margin-top: 100px;
  background-color: #F5F5F5;
}
.blog_img{
  width: 250px;
  height: 160px;
  border-radius: 20px 20px 0 0;
  justify-content: space-between;
  padding-left: 50px;
  margin-left: 5px;
}
.blog_card{
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.common_sub_title_blog{
  text-align: left;
  margin-bottom: 10px;
  font-family: 'Macondo', cursive;
  font-size: 8px;
  color: #c71585;
}
.common_ttl_blog{
  text-align: left;
  color: #808080;
  margin-bottom: 30px;
  font-size: 25px;
}
.blog_card_ttl{
  background-color: #ffffff;
  width: 230px;
  height: 160px;
  border-radius: 0 20px 0 20px;
  justify-content: space-between;
  text-align: left;
  padding-left: 50px;
  margin-left: 50px;
}
.blog_block_left{
  width: 30%;
  height: 20%;
  border-radius: 10%;
  overflow: hidden;
}
.blog_block_center{
  width: 30%;
  border-radius: 10%;
  overflow: hidden;
}
.blog_block_right{
  width: 30%;
  border-radius: 10%;
  overflow: hidden;
}
h3 {
  display: inline-block;
}
.blog_card_text{
  display: flex;
  font-size: 10px;
  padding-left: 15px;
}
.tothe_listpage_btn{
  width: 300px;
  padding: 10px 0;
  color: #fff;
  border-radius: 30px;
  background: linear-gradient(90deg, #ff5800, #8b00be);
  text-align: center;
  margin: 100px auto 0;
  display: block;
}




